body{
    background: #6d136d;
    font: normal 15pt Arial;


}

header{
    color: rgb(34, 16, 6);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 8px white;
   

    
    

}
section {
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 10px 10px black;
    border-width: 6px;
    border-style: dashed;
    border-color: #410312
;


}
footer {
    color: azure;
    text-align: center;
    font-style: italic;
    text-shadow: 0 0 8px black;
    
    

}
